<div class="wrapper" >
  <button nz-button nzType="primary" (click)="toggleCollapsed()">
    <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
  </button>
  <ul [style.width]="!isCollapsed ? '250px' : null" nz-menu nzMode="inline" nzTheme="light" [nzInlineCollapsed]="isCollapsed" nzSelectable="true">
    <li
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'Home' : ''"
      routerLink="home"
      nzMatchRouter="home"
    >
      <span nz-icon nzType="mail"></span>
      <span>Home</span>
    </li>
    <li
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'Playground' : ''"
      routerLink="playground"
      nzMatchRouter="playground"
    >
      <span nz-icon nzType="setting"></span>
      <span>Playground</span>
    </li>
    <li
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'User' : ''"
      routerLink="employess"
      nzMatchRouter="employess"
    >
      <span nz-icon nzType="users"></span>
      <span>User</span>
    </li>
  </ul>
  <hr />
    <ul>
      <li class="nav-item">
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Logout
        </a>
      </li>
    </ul>
</div>
<!-- 
<div class="d-flex flex-column flex-shrink-0 p-3 border-end">
    <div class="mx-2 px-2">
      <img
        src="https://angular.io/assets/images/logos/angular/shield-large.svg"
        height="45"
        alt="angular_logo"
      />
      <span class="fs-4">Main Menu</span>
    </div>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="home"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Home
        </a>
      </li>
      <li>
        <a
          routerLink="dashboard"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="orders"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Orders
        </a>
      </li>
      <li>
        <a
          routerLink="products"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Products
        </a>
      </li>
      <li>
        <a
          routerLink="customers"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Customers
        </a>
      </li>
      <li>
        <a
          routerLink="playground"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Playground
        </a>
      </li>
    </ul>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a
          routerLink="employess"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Employees
        </a>
      </li>
    </ul>
    <hr />
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="nav-link link-dark"
        >
          Logout
        </a>
      </li>
    </ul>
  </div> -->

  {{ doLog() }}