<!-- <button type="button" class="btn btn-primary" (click)="doShow()">
  Show Form / Hide Form
</button>

<ng-container *ngIf="show; else notShow">
  <form>
    <div class="card mb-5">
      <h5 class="card-header">Form Input</h5>
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Your name</label
          >
          <input
            type="text"
            class="form-control"
            [(ngModel)]="name"
            placeholder="Input your name"
            name="name"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Your age</label
          >
          <input
            type="number"
            class="form-control"
            [(ngModel)]="age"
            placeholder="Your age"
            name="age"
          />
        </div>
        <button
          *ngIf="!isEdit"
          type="button"
          class="btn btn-primary"
          (click)="doAddPerson()"
        >
          <i class="bi bi-person-check"></i>
          Tambah Data
        </button>
        <button
          *ngIf="isEdit"
          type="button"
          class="btn btn-success"
          (click)="doUpdatePerson()"
        >
          <i class="bi bi-person-check"></i>
          Update Data
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #notShow>
  <div
    [ngClass]="
      age === 1
        ? 'alert alert-primary'
        : age === 2
        ? 'alert alert-warning'
        : 'alert alert-danger'
    "
    role="alert"
  >
    ini adalah kondisi notshow value
  </div>
</ng-template>

<ng-container [ngSwitch]="age">
  <ng-container *ngSwitchCase="1">1</ng-container>
  <ng-container *ngSwitchCase="2">2</ng-container>
  <ng-container *ngSwitchCase="3">3</ng-container>
  <ng-container *ngSwitchCase="4">4</ng-container>
  <ng-container *ngSwitchDefault>default</ng-container>
</ng-container>

<div class="d-flex d-grid gap-3">
  <ng-container *ngFor="let item of person">
    <app-card-name
      [data]="item"
    ></app-card-name>
  </ng-container>
</div> -->

<h3>Data Bengkel Astrapay</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Bengkel</th>
      <th scope="col">Lokasi</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataBengkel">
      <th scope="row">1</th>
      <td>{{ data.nama }}</td>

      <td>{{ data.latitude }} {{ data.longitude }}</td>
      <td>
        <div class="btn btn-dark" (click)="openModalWithComponent(data)">Details</div>
      </td>
    </tr>
  </tbody>
</table>