<footer class="footer navbar-fixed-bottom py-3 mt-5 text-center">
    <h6 class="container ">Research and Development</h6>
    <p class="text-muted">Powered By Angular &copy; 2022</p>
</footer>

{{ doLog() }}