<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container-fluid mx-5">
    <!-- <a class="navbar-brand" href="#">
      <img
        src="https://astrapay.com/static-assets/images/logos/logo-colorful.png"
        alt="Bootstrap"
        width="50"
        height="50"
      />
    </a> -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">{{ 'LOGIN' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="admin/playground" routerLinkActive="active">Playground</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ 'LANGUAGE' | translate }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setLang('id')">(ID) Indonesia</a></li>
              <li><a class="dropdown-item" (click)="setLang('en')">(EN) English</a></li>
              <li><a class="dropdown-item" (click)="setLang('jp')">(JP) 日本語</a></li>
              <li><a class="dropdown-item" (click)="setLang('kr')">(KR) 한국어</a></li>

            </ul>
          </li>
      </ul>
      
    </div>
  </div>
</nav>

{{ doLog() }}
