<div class="container-fluid px-5 mb-3 shadow-lg rounded-3">
  <div class="pt-5 d-flex px-5">
    <a class="navbar-brand" href="#">
      <img
        src="https://angular.io/assets/images/logos/angular/shield-large.svg"
        height="55"
        alt="angular_logo"
      />
    </a>
    <div class="mx-4">
      <h5>{{ "WELCOME" | translate }}</h5>
      <p>{{'INFORMATION_MANAGEMENT_SYSTEM' | translate }}</p>
    </div>
  </div>
  <hr />
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-8">
        <ng-lottie
          [options]="optionsConfig"
          height="250px"
          containerClass="mt-5"
        ></ng-lottie>
      </div>
      <div class="col-lg-4">
        <form class="mt-5" [formGroup]="formLogin">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">
              {{ "USERNAME" | translate }}
            </label>
            <input
              type="text"
              nz-input nzSize="large" nzType="primary"
              formControlName="username"
              placeholder="Input username here"
              name="username"
            />
            <div
              *ngIf="
                (errorControl['username'].dirty ||
                  errorControl['username'].touched) &&
                errorControl['username'].errors
              "
            >
              <span
                *ngIf="errorControl['username'].errors['required']"
                class="text-danger"
                >Username is required</span
              >
            </div>
          </div>
          <label for="exampleFormControlInput1" class="form-label">
            {{ "PASSWORD" | translate }}
          </label>
          <div class="input-group">
            <nz-input-group [nzSuffix]="suffixTemplateInfo" nzSize="large">
            <input
              [type]="isPass ? 'password' : 'text'"
              nz-input nzSize="large" nzType="primary"
              formControlName="password"
              placeholder="Input password here"
              name="password"
            />

            <span>
              <i
                class="bi"
                [ngClass]="isPass ? 'bi-eye' : 'bi-eye-slash'"
                (click)="doChangeTypePass()"
              ></i>
            </span>
          </nz-input-group>
          <ng-template #suffixTemplateInfo>
          </ng-template>
          </div>
          <div
            *ngIf="
              (errorControl['password'].dirty ||
                errorControl['password'].touched) &&
              errorControl['password'].errors
            "
          >
            <span
              *ngIf="errorControl['password'].errors['required']"
              class="text-danger"
              >Password is required</span
            >
            <span
              *ngIf="errorControl['password'].errors['minlength']"
              class="text-danger"
              >Password minimal length is {{errorControl['password'].errors['minlength'].requiredLength }}</span
            >
          </div>
          <div class="mt-4 d-grid">
            <button
              type="button"
              nz-button nzSize="large" nzType="primary"
              (click)="doLogin()"
              [disabled]="!formLogin.valid"
            >
              {{ "LOGIN" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
