<div class="container-fluid px-5 mb-3 shadow-lg rounded-3 p-5 text-center">
  <h1>Work In Progresss</h1>

  <div class="col-lg-12">
    <ng-lottie
      [options]="optionsConfig"
      height="250px"
      containerClass="mt-5"
    ></ng-lottie>
  </div>

  <p>Our exciting new website will launch soon</p>
  <span>Come back and check it out</span>
</div>
