<h3>Employee's List</h3>

<button type="button" class="btn btn-primary" (click)="openModal(template)">
  Add New Employee's
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of empList; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.first_name }}</td>
      <td>{{ item.last_name }}</td>
      <td>{{ item.email }}</td>
      <td>
        <button class="btn btn-primary" (click)="openModal(template, item)">Edit</button>
        <button class="btn btn-primary">View</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ isEdit ? 'Edit' : 'Add'}} Employee's</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Job</label>
        <input type="text" class="form-control" [(ngModel)]="job" name="job">
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="doAddEmployee()">{{ isEdit ? 'Edit' : 'Add'}}</button>
  </div>
</ng-template>
