<div class="d-flex vh-100">
    <div>
        <app-sidenav></app-sidenav>
    </div>
    <div class="containter overflow-auto vw-100">
        <app-header></app-header>
        <div class="m-3 p-3 shadow-lg bg-white">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>  