<div class="card mt-5">
    <h5 class="card-header">
      {{ data.name }}
    </h5>
    <div class="card-body">
        <h5 class="card-title">{{ data.age }}</h5>
        <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
        </p>
        <button type="button" class="btn btn-warning" (click)="doEdit()">Edit Data</button>
        <button type="button" class="btn btn-danger" (click)="doDelete()">Hapus Data</button>
    </div>
</div>

{{ doLog() }}