/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

html, body {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}

#map {
    height: 100%;
}

modal-container {


    :host {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    header {
        background-color: var(--header-color);
        padding: 2em;
    }
    header .title {
        font-size: 28px;
    }
    main {
        display: flex;
        flex-grow: 1;
    }
    .map-container {
        flex-grow: 1;
    }
}